.content blockquote {
    border-left: 4px solid var(--neutral-200);
    background-color: var(--neutral-100);
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
    font-style: italic;
}

.content blockquote p {
    color: var(--color-text-muted);
}