.content blockquote {
    border-left: 4px solid var(--neutral-200);
    background-color: var(--neutral-100);
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
    font-style: italic;
}

.slide blockquote {
    padding: 1cqw 1.5cqw;
    margin: 1.5cqw 0;
    border-radius: 1cqw;
}

.content blockquote p {
    color: var(--color-text-muted);
}