.content img{
    max-width: 100%;
    max-height: 60vh;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
}