.content a {
    text-decoration: underline;
    transition: color 0.3s;
    border-radius: 4px;
    padding: 2px 4px;
}

.slide a {
    border-radius: 0.4cqw;
    padding: 0.1cqw 0.5cqw;
}

.content a:hover {
    background-color: var(--color-highlight);
}

.content .heading-anchor:hover {
    background-color: inherit;
}