.content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 1.5cqh 0;
    table-layout: auto;
    border: 1px solid var(--neutral-200);
    border-radius: 2.5cqh;
    overflow: hidden;
}

.content thead {
    background-color: var(--neutral-100);
}

.content thead tr:first-child th:first-child {
    border-top-left-radius: 2.5cqh;
}

.content thead tr:first-child th:last-child {
    border-top-right-radius: 2.5cqh;
}

.content th {
    padding: 2cqh 5cqh;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid var(--neutral-200);
}

.content td {
    padding: 2cqh 5cqh;
    border-bottom: 1px solid var(--neutral-200);
}

.content tr:last-child td {
    border-bottom: none;
}

.content tbody tr:last-child td:first-child {
    border-bottom-left-radius: 2.5cqh;
}

.content tbody tr:last-child td:last-child {
    border-bottom-right-radius: 2.5cqh;
}