@import url("../utils/colors.css");

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Merriweather", serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    background-color: var(--color-bg);
    max-width: 100vw;
    position: fixed;
}

.main-wrapper {
    overflow: visible;
    grid-column: 2;
    grid-row: 2;
    display: flex;
}

main {
    flex: 1;
    justify-content: center;
}

/* Responsive */

body{
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2fr 16fr 3fr;
}

/* main-wrapper max-height is the percentage of the second row to prevent overflow */
.main-wrapper{
    max-height: 76.19vh;
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 1fr 16fr 1fr;
        grid-template-rows: 2fr 24fr 3fr;
    }
    .main-wrapper {
        max-height: 82.75vh;
    }
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr 24fr 1fr;
        grid-template-rows: 1fr 16fr;
    }
    .main-wrapper{
        max-height: 94.11vh;
    }
}

@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr 32fr 1fr;
        grid-template-rows: 1fr 18fr;
    }
    .main-wrapper{
        max-height: 94.63vh;
    }
}