@import url("/css/utils/colors.css");

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Merriweather", serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2fr 15fr 3fr;
    background-color: var(--color-bg);
}

.main-wrapper {
    overflow: visible;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    max-height: 72.22vh;
}

main {
    flex: 1;
    justify-content: center;
}