* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-underline: none;
    color: inherit;
}

/* Prevent browser back/forward swipe navigation */
html {
    overscroll-behavior-x: none;
}

body {
    overscroll-behavior-x: none;
}