html, body {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--color-text);
}

html {
    font-size: clamp(18px, 1.6vw, 20px);
}

@media (max-width: 1024px) {
    html {
        font-size: clamp(16px, 1.8vw, 18px);
    }
}

@media (max-width: 768px) {
    html {
        font-size: clamp(15px, 2.3vw, 16px);
    }
}

@media (max-width: 480px) {
    html {
        font-size: clamp(14px, 5vw, 15px);
    }
}

