html, body {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--color-text);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-variation-settings: "wght" 700, "wdth" 75;
}
