.content mjx-container {
    overflow: visible;
    padding: 2px 4px;
    color: var(--color-text);
    max-width: 100%;
    overflow: clip !important;
}

.content .tooltip {
    position: relative;
    overflow: visible;
    transition: background-color 0.3s;
}

.content .tooltip:hover {
    background-color: var(--color-highlight);
    border-radius: 4px;
}

.content .tooltip::after {
    content: attr(data-tip);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-bg-tooltip);
    color: var(--color-text-tooltip);
    padding: 8px 8px 1px 8px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    pointer-events: none;
    margin-left: 8px;
    line-height: 1;
    text-indent: 0;
    z-index: 99999;
    font-size: 16px;
    font-weight: 300;
}

.content .tooltip:hover::after {
    opacity: 1 !important;
    visibility: visible;
}