.lectures{
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.lectures .lecture-header{
    grid-column: 1;
    grid-row: 2 / span 2;
    padding: 1rem;
}

.lectures .lectures-list{
    grid-column: 2;
    grid-row:1 / span 3;
    overflow-y: scroll;
}

.lectures .lectures-list article{
    padding-bottom: 1.5rem;
}

.lectures .lectures-list article time{
    float: right;
    color: var(--color-text-muted);
}

.lectures .lectures-list article.presentation-item h2::before ,.lectures .lectures-list article.document-item h2::before{
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.lectures .lectures-list article.presentation-item h2::before{
    background-image: url('/icons/presentation.svg');
}

.lectures .lectures-list article.document-item h2::before{
    background-image: url('/icons/document.svg');
}
