.slide {
    container-type: size;  /* instead of size */
}

.presentation h1 {
    font-weight: 700;
    margin-bottom: 1.4cqw;
    line-height: 1;
}

.presentation h2 {
    font-weight: 600;
    margin-bottom: 1.2cqw;
    line-height: 1;
}

.presentation h3 {
    font-weight: 500;
    margin-bottom: 0.8cqw;
    line-height: 1;
}

.presentation h4 {
    font-weight: 500;
    margin-bottom: 0.4cqw;
    line-height: 1;
}

.presentation h5 {
    font-weight: 500;
    margin-bottom: 0.4cqw;
    line-height: 1;
}

.presentation h6 {
    font-weight: 500;
    margin-bottom: 0.4cqw;
    line-height: 1;
}

.presentation p,
.presentation li {
    line-height: 1.4;
}

.presentation ul,
.presentation ol {
    padding-left: 1.667cqw;
}

.presentation li:last-child {
    margin-bottom: 0;
}

.presentation strong {
    font-weight: 700;
}

/* sizing */
.presentation h1 {
    font-size: 5cqw;
}

.presentation h2 {
    font-size: 3.3cqw;
}

.presentation h3 {
    font-size: 2.7cqw;
}

.presentation h4 {
    font-size: 2.4cqw;
}

.presentation h5 {
    font-size: 2.2cqw;
}

.presentation h6 {
    font-size: 2cqw;
}

.presentation p,
.presentation li,
.presentation tr {
    font-size: 1.7cqw;
}