body{
    position: relative;
}
.root {
    display: flex;
    flex-direction: column;
    contain: strict;
}

.root header h1 {
    font-size: 4rem; /* Fallback, this behavior is managed by root/fit-title.js*/
    white-space: nowrap;
    font-weight: 800;
    margin-bottom: 0;
    text-overflow: ellipsis;
}

.root header p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: inherit;
}

.root p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: var(--color-text-muted);
}
