.presentation .slide-kind-title h1{
    font-size: 14cqh;
}

.presentation .slide-kind-title h2{
    font-size: 12cqh;
}

.presentation .slide-kind-title h3{
    font-size: 10cqh;
}

.presentation .slide-kind-title p{
    font-size: 4cqh;
    color: var(--color-text-muted);
}


.presentation .slide-kind-title-content {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.presentation .slide-kind-title-content > *:first-child {
    grid-column: 1 / -1; /* Full width at top */
    grid-row: 2;
}

.presentation .slide-kind-title-content > *:first-child h1, h2, h3{
    font-size: 6.5cqh;
}

.presentation .slide-kind-title-content > *:nth-child(n+2) {
    grid-row: 3;
    align-self: start; /* Pull content to top of grid row */
}

.presentation .slide-split-1 {
    grid-column: 1;
}
.presentation .slide-split-2 {
    grid-column: 2;
}
.presentation .slide-split-3 {
    grid-column: 3;
}

.presentation .slide-split {
    max-height: 100%;
}